<h1>マイページ</h1>
  <div class = "profile">
    <% if @user.icon? %>
      <%= image_tag @user.icon.url, class: 'user-icon ', :size => '120x110' %>
    <% else %>
      <%= image_tag 'default.jpg', :class=>"user-icon", :alt => 'デフォルト画像', :size =>'120x110' %>
    <% end %>
    <%= link_to @user.name, user_path(@user) %>
  </div>
<br>

    <%= link_to "もらう", items_path, {class: "get_and_giveover"} %>
    <%= link_to "ゆずる", new_item_path, {class: "get_and_giveover"} %>

