<h1>マイページ</h1>
<% if @user.icon? %>
  <%= image_tag @user.icon.url, class: 'user-icon '%>
<% else %>
  <%= image_tag 'default.jpg', :class=>"cat-icon", :alt => 'デフォルト画像', :size =>'60x50' %>
<% end %>
  <%= link_to @user.name, user_path(@user) %>
  <%= link_to "もらう", items_path %>
  <%= link_to "ゆずる", new_item_path %>

<h1>ユーザー検索</h1>
<%= search_form_for @q, url: mypage_path do |f| %>
  <%= f.label :name_cont, 'ユーザー名' %>
  <%= f.search_field :name_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>

<% @results.each do |user| %>
  <tr>
    <%= link_to user.name, user_path(user) %>
  </tr>
<% end %>