<h1>ユーザの詳細</h1>
<% if @user.icon? %>
  <%= image_tag @user.icon.url, class: 'user-icon '%>
<% else %>
  <%= image_tag 'default.jpg', :class=>"cat-icon", :alt => 'デフォルト画像', :size =>'60x50' %>
<% end %>
<%= @user.name %>
<% if @user.id == current_user.id %>
  <%= @user.email %>
  <%= link_to "編集", edit_user_path(@user) %>
<% end %>
  <%= link_to "戻る", mypage_path %>


