<h1>投稿一覧画面</h1>
<h1>やさい検索</h1>
<%= search_form_for @q, url: items_path do |f| %>
  <%= f.label :title_cont, 'やさい検索' %>
  <%= f.search_field :title_cont %>
  <br>
  <%= f.submit '検索' %>
  <%= link_to "リセット", items_path %>
<% end %>

<% @items.each do |item| %>
  <table> 
    <tr>
      <th>ユーザ名</th>
      <th><%= item.user.name %></th>
    </tr>
    <tr>
      <th>野菜の名前</th>
      <th><%= item.title %></th>
    </tr>
    <tr>
      <th>内容</th>
      <th><%= item.content %></th>
    </tr>
    <tr>  
      <th>数量</th>
      <th><%= item.count %></th>
    </tr>
    <tr>
      <th>譲渡場所</th>
      <th><%= item.place %></th>
    </tr>
    <tr>
      <th>日時</th>
      <th><%= item.promise_at %></th>
    </tr>
    <tr>
      <th>受付状態</th>
      <th><%= item.state %></th>
    </tr>
    <tr>
      <th>画像</th>
      <th><%= image_tag item.image.url, class: 'item-icon '%></th>
    </tr>
  </table> 
<% end %>



